   <div class="item bigName" >
     <img class="icon-flag bigFlag" src="{{flags.svg}}" alt="flag">
     <p class="country-name">{{name.official}}</p>
    </div> 
    <p class="country-name"><span class="nameItem">Capital: </span>{{capital}}</p>
    <p class="country-name"><span class="nameItem">Population: </span>{{population}}</p>
    <p class="country-name"><span class="nameItem">Languages: </span>{{languages}}</p>
